@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins";
  background-image: image(sfondo);
  max-width: 80%;
}
/* HEADER */
header {
  width: 80%;
  height: 200px;
  background-color: rgb(45, 98, 163);
  text-align: center;
  padding: 15px;
}

header img {
  width: 200px;
}
header h4 {
  color: white;
  margin-block: 20px;
}
header a {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 1.5;
}
/* MAIN */
h1 {
  font-weight: bold;
  padding-block: 10px;
}

h3 {
  color: rgb(211 211 211);
}

/* ELEMENTI NEL MAIN - ARTICLE */
article {
  display: inline-block;
  text-align: justify;
  margin-right: 10px;
  padding: 15px;
  line-height: 1.5;
}

article p ul li {
  list-style-type: disc;
}
article div ol li {
  list-style-type: decimal;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
