@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins";
  background-image: image(sfondo);
  max-width: 90%;
  display: inline-block;
  margin-right: 50%;
  margin-left: 50%;
}
/* HEADER */
header {
  height: 200px;
  background-color: rgb(45, 98, 163);
  text-align: center;
  padding: 15px;
}

header img {
  width: 200px;
}
header h4 {
  color: white;
  margin-inline: auto;
  padding-block: 20px;
}
header a {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 1.5;
}
/* MAIN */
h1 {
  font-weight: bold;
  padding-block: 10px;
}

h3 {
  color: rgb(211 211 211);
}

/* ELEMENTI NEL MAIN - ARTICLE */
article {
  display: inline-block;
  text-align: justify;
  padding-block: 10px;
  line-height: 1.5;
}

p {
  margin-block: 10px;
}

ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}
ol li {
  list-style-type: decimal;
  margin-bottom: 10px;
}
/* TABELLE */
caption {
  display: block;
  font-style: italic;
  font-weight: bold;
}
table {
  display: inline-block;
  text-align: center;
  width: 100%;
}

thead {
  display: inline-block;
  width: 100%;
  background-color: rgb(59, 59, 169);
  padding: 20px;
}
th,
td {
  width: 33%;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
